{% extends "admin/template.html" %}
{% block conteudo %}

    <table border="1" class="table">
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Senha</td>
        <td>Tipo</td>
        <td>Editar</td>
      </tr>

      {% for i in usuarios %}
        <tr>
          <td>{{i.getID()}}</td>
          <td>{{i.getNome()}}</td>
          <td>{{i.getSenha()}}</td>
          <td>{{i.getTipo()}}</td>
          <td><a href="{{url_for('altera_usuario', id=i.getID())}}">Editar</a></td>
        </tr>
        
      {% endfor %}

    </table>

{%endblock %}