{% extends "template.html" %}
{% block conteudo %}

<script>
  document.querySelector('.link-home').classList.add("active");
</script>

<div class="container-fluid " style="width: 160px; float: left; margin-top: 40px;">
  <div class="row flex-nowrap">
      <div class="w-100 px-0">
          <div id="sidebar" class="" >
              <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start mg">
                  <span class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #0069d9; color: white; border: 3px;">Noticias:</span>
  
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste1</a>
                  </div>
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste2</a>
                  </div>
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste3</a>
                  </div>
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste4</a>
                  </div>
                  
                 
              </div>

          </div>
      </div> 
  </div>
</div>



    <div class="container rounded" style="background: #d6d6d6; margin-top:40px; width:70%">
      <h1>Titulo</h1>
      <p>texto</p>
    </div>

{%endblock %}