{% extends "template.html" %}
{% block conteudo %}

<script>
  document.querySelector('.link-home').classList.add("active");
</script>

<div class="container-fluid " style="width: 160px; float: left; margin-top: 40px;">
  <div class="row flex-nowrap">
      <div class="w-100 px-0">
          <div id="sidebar" class="" >
              <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start mg">
                  <span class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #0069d9; color: white; border: 3px;">Noticias:</span>
  
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste1</a>
                  </div>
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste2</a>
                  </div>
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste3</a>
                  </div>
                  <div class="list-group-item border-end-0 d-flex text-truncate" data-bs-parent="#sidebar" style="background-color: #d6d6d6;">
                    <a href="" style=" text-decoration:none;">teste4</a>
                  </div>
                  
                 
              </div>

          </div>
      </div> 
  </div>
</div>



    <div class="container rounded p-4" style="background: #d6d6d6; margin-top:40px; width:70%; height: 360px;">
      <h1>Titulo</h1>
      <hr/>
      <p style="font-size:1.1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ipsum nibh, vitae congue magna eleifend eget. Nullam dolor nisi, vehicula eget felis id, dictum malesuada nisi. Morbi nec fringilla quam. Donec rhoncus, purus vel tempor bibendum, felis augue ornare ante, sit amet egestas tortor nulla a massa. Quisque sagittis ultricies metus, eu mollis quam vehicula quis. Cras venenatis mattis nulla. Phasellus faucibus sodales felis ut egestas. Sed in justo ultricies, elementum erat eget, semper risus. Integer condimentum, mauris eget malesuada vulputate, dui leo elementum est, vel vestibulum nulla quam eu nisi. Sed volutpat cursus ex ac euismod. Donec ipsum arcu, ullamcorper quis ex vel, varius sollicitudin nibh.</p>
    </div>
    <div class="container rounded p-4" style="background: #d6d6d6; margin-top:40px; width:70%; height: 360px;">
      <h1>Titulo</h1>
      <hr/>
      <p style="font-size:1.1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ipsum nibh, vitae congue magna eleifend eget. Nullam dolor nisi, vehicula eget felis id, dictum malesuada nisi. Morbi nec fringilla quam. Donec rhoncus, purus vel tempor bibendum, felis augue ornare ante, sit amet egestas tortor nulla a massa. Quisque sagittis ultricies metus, eu mollis quam vehicula quis. Cras venenatis mattis nulla. Phasellus faucibus sodales felis ut egestas. Sed in justo ultricies, elementum erat eget, semper risus. Integer condimentum, mauris eget malesuada vulputate, dui leo elementum est, vel vestibulum nulla quam eu nisi. Sed volutpat cursus ex ac euismod. Donec ipsum arcu, ullamcorper quis ex vel, varius sollicitudin nibh.</p>
    </div>
    <div class="container rounded p-4" style="background: #d6d6d6; margin-top:40px; width:70%; height: 360px;">
      <h1>Titulo</h1>
      <hr/>
      <p style="font-size:1.1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ipsum nibh, vitae congue magna eleifend eget. Nullam dolor nisi, vehicula eget felis id, dictum malesuada nisi. Morbi nec fringilla quam. Donec rhoncus, purus vel tempor bibendum, felis augue ornare ante, sit amet egestas tortor nulla a massa. Quisque sagittis ultricies metus, eu mollis quam vehicula quis. Cras venenatis mattis nulla. Phasellus faucibus sodales felis ut egestas. Sed in justo ultricies, elementum erat eget, semper risus. Integer condimentum, mauris eget malesuada vulputate, dui leo elementum est, vel vestibulum nulla quam eu nisi. Sed volutpat cursus ex ac euismod. Donec ipsum arcu, ullamcorper quis ex vel, varius sollicitudin nibh.</p>
    </div>

{%endblock %}