{% extends "template.html" %}
{% block conteudo %}

<script>
  document.querySelector('.link-novo').classList.add("active");
</script>

    <div class="container rounded" style="background: #dcdcdc; margin-top:40px; padding:20px;">
      <form action="/criar_camp" method="post">
        <fieldset>
          <div class="form-group" style="margin-top:10px">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group" style="margin-top:10px">
            <label>Jogo</label>
            <select name="jogo" class="form-control">
              {% for i in jogos %}
              <option>{{i[1]}}</option>
              {% endfor %}
            </select>
            <a href="novo_jogo" style="font-size:12px">Jogo não encontrado?Cadastre</a>
          </div>
          <div class="form-group" style="margin-top:10px">
            <label>Premio</label>
            <input type="text" name="premio" class="form-control">
          </div>
          <div class="form-group" style="margin-top:10px">
            <label>Data do Campeonato</label>
            <input type="date" name="data_campeonato" class="form-control">
            <p style="font-size: 0.75rem;">OBS:O horário é as 9:00</p>
          </div>
          <div class="form-group" style="margin-top:10px">
            <label>Quantidade de Jogadores em um Time</label>
            <input type="text" name="qtd_jogadores" class="form-control">
          </div>
          <div style="margin:20px 0 10px">
            <button type="submit" class="btn btn-primary btn-salvar" >Salvar</button>
          </div>

        </fieldset>
      </form>
    </div>

{%endblock %}