<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nome - Campeonato</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
</head>
<body style="width: 100%; height: 100%; background: linear-gradient(rgba(26, 25, 25, 0.95),rgba(26, 25, 25, 0.95)), url(../static/lol.jpg) no-repeat fixed">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#0069d9; border:2px solid #0063ce">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h1 style="color: black; font-family:sans-serif;">IFCamp</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mob-navbar">
                <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link link-home" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-campeonatos" href="campeonato">Campeonatos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-novo" href="novo">Novo Campeonato</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/signup">Criar Conta</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>



    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block conteudo %} {%endblock %}
</body>
</html>